
@{
    ViewBag.Title = "User";
}

<h2>User - Person information</h2>
<table class="table text-center">
    <tbody>
        <tr>
            <td class="text-capitalize">First Name</td>
            <td>@ViewBag.User.FirstName</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@ViewBag.User.LastName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewBag.User.Email</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@ViewBag.User.Phone</td>
        </tr>
    </tbody>
</table>