body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-body:hover {
    background: lightgray;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: -8px;
    right: -8px;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 2px #888;
}

.btn {
    position: relative;
    outline: none;
}

    .btn:focus, .btn:active {
        border: none;
        outline: none;
    }

.card {
    background-color: cornflowerblue;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

.badge {
    font-size: 20px;
    background-color: transparent;
}

.pad {
    padding: 5px;
}

.jumbotron {
    position: relative;
    width: 100%;
    background-image: url(Images/Background/watchBG.jpg);
}

.clock {
    position: absolute;
    bottom: 70px;
    right: 5px;
}

.shadow-brand {
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.product-card:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.product-slider {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

    .product-slider:hover {
        box-shadow: 0 0 30px rgba(0,0,0,0.8);
    }
